.inputTagCSS {
  height: 4rem;
  width: 26rem;
  padding: 3px 10px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputTagCSS:focus {
  border-color: none;
}

* {
  font-family: 'Times New Roman', Times, serif;
  background: #141414;
  color: antiquewhite;
}