::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background: rgb(219, 219, 219);
}

.App{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.mainDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;
}

.subDivForDataL {
  text-align: left;
}

.subDivForError {
  text-align: center;
}

.img {
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 12px;
  height: 25rem;
  width: 20rem;
}

pre {
  border-bottom: 0;
  margin: 0.5rem 0;
}

span {
  border-bottom: 0;
  margin: 0.5rem 0;
  color: gray;
  font-size: 1.4rem;
  font-weight: 1;
}

.tableHead {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-bottom: 0;
  font-size: 1.4rem;
  color: gray;
}