::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background: rgb(219, 219, 219);
}

.App{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.mainDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;
}

.subDivForDataL {
  text-align: left;
}

.subDivForError {
  text-align: center;
}

.img {
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 12px;
  height: 25rem;
  width: 20rem;
}

pre {
  border-bottom: 0;
  margin: 0.5rem 0;
}

span {
  border-bottom: 0;
  margin: 0.5rem 0;
  color: white;
  font-size: 1.4rem;
  font-weight: 1;
}

.showcase {
  width: 100%;
  height: 40rem;
  position: relative;
  color: white;
  text-align: center;
}

.showcase .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:99
}

.showcase .overlay {
  width: 100%;
  height: 40rem;
  background-color: rgba(0, 35, 82, 0.9);
  position: absolute;
  margin-top: 0.5rem;
  top: 0;
  left: 0;
  z-index:999
}

label span:first-child {
  margin-bottom: 20px;
}

label span:nth-child(2) {
  font-weight: bold;
  color: gray;
}

.autoComplete {width:auto;margin:0 2rem;}
.autoComplete label {top: -4px; color: white !important;}
.autoComplete div {height: 45px;}
.autoComplete fieldset {border-color: aliceblue !important;border-radius: 5rem;}
.autoComplete input {color: aliceblue;}

.searchBar {
  width: 100%;
  height: 500px;
  position: relative;
  color: white;
  text-align: center;
}

.searchBar img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:99
}

.searchBar .overlay {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index:999
}

.searchBar h2 {
  margin-top: 100px;
  font-size: 3em;
}

.searchBar p {
  margin-top: 8px;
  font-size: 1.2em;
}